<h1 align=center><font size = 5>Data Collection of postal codes  of Canada using Web Scraping</font></h1>

<h3>import libraries</h3>

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

<a id='item1'></a>

<h3>Collect data using web scraping of URL</h3>

In [2]:
# build the dateframe by doing web scraping
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = tables[0]

<h3>filter records having 'Not assigned' value in Borough field</h3>

In [3]:
df = df[df['Borough'] != 'Not assigned']

df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

<h3>Transform rows having same PostCode and Borough to have their Neighbourhood field joined by ','</h3>

In [7]:
grouped = df.groupby(['Postcode','Borough'])['Postcode','Borough','Neighbourhood']

canda_postal_codes_dict = {}
for k, v in grouped:
    canda_postal_codes_dict.setdefault(k, []).append(v['Neighbourhood'].values)

data = []

for key in canda_postal_codes_dict:
    data.append((key[0], key[1],   ', '.join(canda_postal_codes_dict[key][0]) ))


postcode_borought_grouped_df = pd.DataFrame(data,columns=['Postcode', 'Borough', 'Neighbourhood'])
postcode_borought_grouped_df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

<h3>Transform rows having Neighbourhood field as 'Not assigned' to the value of thier Borough</h3>

In [8]:
postcode_borought_grouped_df['Neighbourhood'] = postcode_borought_grouped_df.apply(lambda x:  x['Borough'] if x['Neighbourhood'] == 'Not assigned' else x['Neighbourhood'], axis=1)


postcode_borought_grouped_df.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [9]:
postcode_borought_grouped_df.shape

(103, 3)